body {
  padding-top: 3.5rem;
}

.logo {
  padding: 10px 5px;
  margin: 0 20px;
  position: relative;
  z-index: 4;
}

.simple-text {
  text-transform: uppercase;
  padding: 0;
  display: block;
  font-size: 18px;
  color: #fff;
  text-align: left;
  font-weight: 400;
  line-height: 40px;
 }

.logo-img {
  width: 40px;
  display: inline-block;
  height: 40px;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
 }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
 }

.nav-link {
  color: #fff;
  margin: 5px 0px;
  border-radius: 10px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom: 5px;
  font-size: 13px;
  height: 40px;
 }

.nav-link:hover {
  background-color: rgb(0,172,193);
  color:#fff;
 }

.nav-item {
  padding-right: 0px;  
 }

.nav-icon {
  font-size: 10px;
  margin-right: 15px;
  width: 15px;
  text-align: center;
  vertical-align: middle;
  float: left;
  margin-top:2px;
 }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 10px;
 }

.card-header-list {
  border-radius: 10px;
  margin-top: -20px;
  padding: 15px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 15px;
  background-color: rgb(161,59,181);
  color: white;
  font-size: 25px;
 }

 .btn-save-dog {
  border-radius: 8px;
  margin-top: 30px;
  padding: 8px 15px;
  margin-bottom: 0;
  background-color: rgb(161,59,181);
  border: 1px solid #9c27b0;
  color: white;
  font-size: 11px;
 }

.card-title {
  margin-top: 0;
  padding-bottom: 0;
 
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  font-size: 12px;
  margin-bottom: 70px;
 }

 .text-primary-list tr th{
  color: #9c27b0!important;
  border: 0px;
  margin-right: 50px;
  font-weight: normal;
  padding-right: 100px;
 }

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  margin-top:20px;
  margin-bottom: 10px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 14px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  padding-top: 7px;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #ccc;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background:transparent;
}
.inp input:not(:placeholder-shown) + span {
  color: #ccc;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #ccc;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
