{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <title>Dekoding Test - BackEnd</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
<body style="padding: 0; height: 100%">
  <div class="row" style="height: 100%">
    <div class="col-md-2" style="background-color:rgb(31,31,32)">
       
      <div class="logo">
        <a class="simple-text" href="#">
          <div class="logo-img">
            <img src="{% static 'images/small_logo.png' %}" class="img-fluid" width="25px" />
          </div>
          DEKODING
        </a> 
      </div>
      <hr align=center width=90% color=white style="margin-top:0;height: 1px"> 

      <ul class="nav">
        <li class="nav-item col-md-12">
          <a class="nav-link col-md-12" href="{% url 'doglist' %}">
            <img src="{% static 'images/list_icon.png' %}" class="nav-icon" />
            <p>Dog List</p>
          </a>
        </li>
        <li class="nav-item col-md-12">
          <a class="nav-link col-md-12" href="{% url 'dogadd' %}">
            <img src="{% static 'images/add_icon.png' %}" class="nav-icon" />
            <p>Add Dog</p>
          </a>
        </li>
        <li class="nav-item col-md-12">
          <a class="nav-link col-md-12" href="{% url 'ownerlist' %}">
            <img src="{% static 'images/list_icon.png' %}" class="nav-icon" />
            <p>Owner List</p>
          </a>
        </li>
        <li class="nav-item col-md-12">
          <a class="nav-link col-md-12" href="{% url 'owneradd' %}">
            <img src="{% static 'images/add_icon.png' %}" class="nav-icon" />
            <p>Add Owner</p>
          </a>
        </li>
      </ul>
    </div>

        <div class="col-md-10" style="height:100%;padding-right:30px;padding-left:20px;padding-top: 80px;background-color: rgb(238,238,238);">    
          {% block content %}{% endblock %}
        </div>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>