{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="front-end-test">
    <meta name="author" content="Paula Del Carpio">

    <title>Front End Test by Paula Del Carpio</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional Custom styles -->
    <style>
    .carousel-item {
        height: 100vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .carousel-control-container {
        width: 7%;
    }
    .carousel-control-span {
        width: 50px;
        height: 50px;
    }
    .second-slide-letter-format {
        font-size: 10rem;
        text-align: center;
        color: black;
        vertical-align: middle;
    }
    .second-slide-letter-container {
        text-align:center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .third-slider-container {
        background-color: rgb(0,123,255);
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        margin-top:25px;
        color: white;
    }
    .show{
        display: inline-block;
    }
    </style>
  </head>

  <body>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
          <div class="carousel-inner" role="listbox">

            <!-- First Slider Item - Centered logo of Dekoding with a solid color background -->
            <div class="carousel-item active" style="background-color: rgb(96,96,96)">
              <div class="row" style="height:100%" >
                <div class="col-md-3" > </div>
                <img src="{% static 'images/logo.png' %}" class="col-md-6 img-responsive center-block my-auto"  />
                <div class="col-md-3" > </div>
              </div>
            </div>

            <!-- Second Slider Item - Letters -->
            <div class="carousel-item" >
              <!-- First Row -->
              <div class="row" style="height:51%" >
                <div class="col-md-4 second-slide-letter-container" style="background-color: rgb(41,171,226);">
                    <p class="second-slide-letter-format">D</p>
                </div>
                <div class="col-md-4 second-slide-letter-container" style="background-color: rgb(0,113,188);">
                    <p class="second-slide-letter-format">E</p>
                </div>
                <div class="col-md-4 second-slide-letter-container" style="background-color: rgb(46,49,146);">
                    <p class="second-slide-letter-format">K</p>
                </div>    
              </div>
              <!-- Second Row -->
              <div class="row" style="height:49%;background-color: rgb(83,71,65)" >
                <span class="col-md-12 second-slide-letter-format my-auto">ODING</span>                 
              </div>
            </div>

            <!-- Third Slider Item - Modal -->
            <div class="carousel-item" style="background-image: url({% static 'images/wallpaper.png' %})">
              <div class="row" style="height: 50%"> </div>
              <div class="row" style="height: 50%">
                <div class="col-md-6"></div>
                <div class="col-md-6 " style="height: 100%;padding-right:80px;padding-left: 28px;" >
                  <div class="col-md-12 third-slider-container" style="width:100%;height:70%;font-size: 3em">Dekoding</div>
                  <button type="button" data-toggle="modal" data-target="#modal1" class="col-md-3 float-right btn btn-primary" style="font-size: 1.2em; border-radius:10px;margin-top:20px">Submit</button>
                </div>
              </div>
            </div>

          </div>
          <a class="carousel-control-prev carousel-control-container" href="#carouselExampleIndicators" role="button" data-slide="prev" >
            <span class="carousel-control-prev-icon carousel-control-span" aria-hidden="true" ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next carousel-control-container" href="#carouselExampleIndicators" role="button" data-slide="next" >
            <span class="carousel-control-next-icon carousel-control-span" aria-hidden="true"  ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modal1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" style="max-width: 350px;">
            <div class="modal-content" style="border-radius: 10px;">
              <div class="modal-header" style="padding: 7px">
                <h5 class="modal-title" id="modalLabel" style="font-size:0.8em;padding:4px">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-top:7px">
                  <span aria-hidden="true" style="font-size:0.7em;color: rgb(194,194,200)">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="font-size:0.6em;margin-bottom: 40px">Content Content</div>
              <div class="modal-footer" style="padding: 5px;border-top: 0px;">
                <button type="button" class="btn btn-secondary" style="font-size:0.7em;display:none;" id="btnCloseModal" onclick="closeModal()" >Close</button>
                <button type="button" class="btn btn-primary" style="font-size:0.7em" id="btnSubmitModal" onclick="submitModal()" >Submit</button>
              </div>
            </div>
          </div>
        </div>
      </header>

    <!-- Additional JavaScript - Modal Functions-->
    <script>
        function submitModal(){
            var btnClose = document.getElementById("btnCloseModal");
            btnClose.style.display = "block";
        }
        function closeModal(){
            var btnClose = document.getElementById("btnCloseModal");
            btnClose.style.display = "none";
        }
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" ></script>

  </body>
</html>