{% extends "backend.html" %}
{% load static %}

{% block content %}
<div class="row" >
  <div class="col-md-8">
    <div class="card">
      <div class="card-header-list">
        <h4 class="card-title ">Add Owner</h4>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'owneradd' %}"> {% csrf_token %}
          <div class="row">
            <div class="col-md-5">
                <label for="id_name" class="inp">
                    <input type="text" id="id_name" name="name" placeholder="&nbsp;">
                    <span class="label">Name</span>
                    <span class="border"></span>
                </label>
            </div>
          </div>

          <div class="row">
              <div class="col-md-4">
                  <label for="phone" class="inp">
                      <input type="text" id="phone" name="phone" placeholder="&nbsp;">
                      <span class="label">Phone Number</span>
                      <span class="border"></span>
                  </label>
              </div>
              <div class="col-md-4">
                  <label for="address" class="inp">
                      <input type="text" name="address" id="id_address" placeholder="&nbsp;">
                      <span class="label">Address</span>
                      <span class="border"></span>
                  </label>
              </div>
              
            </div>
            <button type="submit" class="btn-save-dog col-md-2">SAVE OWNER</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}