{% extends "backend.html" %}
{% load static %}

{% block content %}
<div class="row" >
  <div class="col-md-12">
    <div class="card">
      <div class="card-header-list">
        <h4 class="card-title ">Owners List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary-list">
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              {% for owner in owners %}
              <tr>
                <td>{{ owner.name }}</td>
                <td>{{ owner.phone }}</td>
                <td>{{ owner.address }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}