{% extends "backend.html" %}
{% load static %}

{% block content %}
<div class="row" >
  <div class="col-md-8">
    <div class="card">
      <div class="card-header-list">
        <h4 class="card-title ">Add Dog</h4>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'dogadd' %}"> {% csrf_token %}
          <div class="row">
            <div class="col-md-5">
                <label for="id_name" class="inp">
                    <input type="text" id="id_name" name="name" placeholder="&nbsp;">
                    <span class="label">Name</span>
                    <span class="border"></span>
                </label>
            </div>
          </div>

          <div class="row">
              <div class="col-md-4">
                  <label for="breed" class="inp">
                      <input type="text" id="breed" name="breed" placeholder="&nbsp;">
                      <span class="label">Breed</span>
                      <span class="border"></span>
                  </label>
              </div>
              <div class="col-md-4">
                  <label for="age" class="inp">
                      <input type="text" name="age" id="age" placeholder="&nbsp;">
                      <span class="label">Age</span>
                      <span class="border"></span>
                  </label>
              </div>
              <div class="col-md-4">
                  <label for="owner" class="inp">
                      <input type="text" name="owner" id="owner" placeholder="&nbsp;">
                      <span class="label">Owner</span>
                      <span class="border"></span>
                  </label>
              </div>
              
            </div>
            <button type="submit" class="btn-save-dog col-md-2">SAVE DOG</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}