{% extends "backend.html" %}
{% load static %}

{% block content %}
<div class="row" >
  <div class="col-md-12">
    <div class="card">
      <div class="card-header-list">
        <h4 class="card-title ">Dogs List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary-list">
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Breed</th>
                <th>Owner</th>
              </tr>
            </thead>
            <tbody>
              {% for dog in dogs %}
              <tr>
                <td>{{ dog.name }}</td>
                <td>{{ dog.age }}</td>
                <td>{{ dog.breed }}</td>
                <td>{{ dog.owner }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}